<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-5FgbwOEm8kut6O31CB4K5ZGkGz5K/dt3G0hS+GAa4KbTUEs1ssdGtnRE5anqLOg1i" crossorigin="anonymous">

</head>
<body>
{% include 'header.html' %}

<br>
<div class="container">
    <center>
        <span class="badge text-bg-warning">
            <h1>Топ 3 книги 2023</h1>
        </span>
    </center>
    <br>

    <div class="row">
        {% for i in lang_key %}
        <div class="col-md-3">
            <div class="card mb-4">
                <img src="{{ i.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ i.title }}</h5>
                    <a href="/book_list/{{ i.id }}/delete/" class="btn btn-primary">Удалить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'footer.html' %}


</body>
</html>